<h1>検索結果</h1>

<% if @results.any? %>
  <ul>
    <% @results.each do |article| %>
      <li><%= article.title %>: <%= article.content %></li>
    <% end %>
  </ul>
<% else %>
  <p>結果が見つかりませんでした。</p>
<% end %>
